/* 

DESIGNED BY: Joao Garduño Salgado
VERSION: 2.0
RELEASED: 30-05-21

FONTS:
TEXT
font-family: 'Noto Sans TC', sans-serif;
TITLES
font-family: 'Playfair Display', serif;

*/
*, ::after, ::before{
    box-sizing: border-box;
}
/* ===============================================
RESET CSS 
================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=====================================================
    DOM
=====================================================*/
html{
	scroll-behavior: smooth;
}
body{
	/* scroll-behavior: smooth; */
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 16px;
}
header, nav, section, footer, article, aside{
	width: 100%;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	letter-spacing: .5px;
}
ol, ul{
	list-style: none;
}
p{
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 1;
}
a{
	text-decoration: none;
	font-weight: bold;
}
img{
	max-width: 100%;
	margin: 0 auto;
}
button{
	border: none;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
}
/* section{
	padding: 40px 0;
} */
/* ------------------------------------------
	SECTIONS, CONTENT & ELEMENTS
--------------------------------------------- */
.container{
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}
.sectionContent{
	margin: 25px 0;
}
/* .articleContent{} */

/* ------------------------------------------
	ROW & COLUMS
--------------------------------------------- */
.row-container{
	width: 100%;
}
.col-container{
	width: 100%;
}
/*=====================================================
    MEDIAQUERIES
=====================================================*/
/* @media screen and (min-width: 320px){} */
/* @media screen and (min-width: 480px){} */
/* @media screen and (min-width: 768px){} */
/* @media screen and (min-width: 1024px){} */
/* @media screen and (min-width: 1200px){} */
