/* 

DESIGNED BY: Joao Garduño Salgado
START DATE: 01-Ene-2020
VERSION: 2.0
RELEASED: 30-05-21

*/

/*
FONTS:
TEXT
font-family: 'Noto Sans TC', sans-serif;
TITLES
font-family: 'Playfair Display', serif;
*/

/* VARIABLES DE COLOR */
:root{
	--color-letter: #E9E9E9;
	--color-button: #3369E7;
	--color-title: #333333;
	--color-paragraph: #666666;
}
*, ::after, ::before{
    box-sizing: border-box;
}
/* ===============================================
RESET CSS 
================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body{
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=====================================================
    DOM
=====================================================*/
header, nav, main, section, article, aside, figure, footer{
	width: 100%;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Playfair Display', serif;
	font-size: 2.5rem;
	font-weight: bolder;
	letter-spacing: .1rem;
	text-transform: capitalize;
}
/* p{
	letter-spacing: 1px;
} */
a{
	text-decoration: none;
	/* font-weight: bold; */
}
img{
	max-width: 100%;
	/* margin: 0 auto; */
}
button{
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
}
/* section{
	padding: 40px 0;
} */
/* ------------------------------------------
	MARGIN-CONTAINER, ROW, COL, SECTIONS_class, ARTICLE_class
--------------------------------------------- */
.container{
	margin: 0 auto;
	padding: 0 1.5rem;
	width: 100%;
}
.sectionContent{
	margin: 4.5rem 0;
}
/* .articleContent{} */
/* ------------------------------------------
	ROW & COLUMS
--------------------------------------------- */
.row-container, .col-container{
	width: 100%;
}
.row-container{
	display: flex;
	flex-direction: column;
}
.col-container{}
/* .row-container{
	margin: 1.0rem 0;
}
.col-container{
	padding: 1.0rem 0;
} */
/*=====================================================
    HEADER - SOCIAL INFO - NAV MENU
=====================================================*/
.headerContent{
	background-color: rgba(175, 174, 174, 0.5);
}
/* SOCIAL INFO */
.socialInfo{
	outline: 1px solid red;
}
.socialinfo__p{
	font-size: 1.0rem;
	padding: .5rem 0;
}
/* MENU */
.navContainer{
	color: seashell;
}

/*=====================================================
    BANNER
=====================================================*/
.bannerContent{
	background-image: url(../img/banner/banner_2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}
.bannerLayer{
	background-color: rgba(255, 255, 255, 0.37);
}
/* ---------- ID - SLIDE CONTENT ---------- */
#siderText{
	height: 50rem;
	width: 100%;
	overflow: hidden;
}
.slideContent{
	position: relative;
	top: 50%;
	left: 0;
	transform: translateX(-50%, -50%);
}

/* ----------  ---------- */
.slideContentText{
	display: flex;
	height: 100%;
	padding: 2rem 0;
	width: 500%;
}

/* ---------- NAVIGATION ---------- */
.banner__slideContent--navigation{
	/* outline: 1px solid red; */
	display: flex;
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
}
.navigation__bar{
	background-color: transparent;
	border: .2rem solid #3369E7;
	cursor: pointer;
	height: 1rem;
	margin: .5rem 1rem;
	/* margin-left: 1.2rem; */
	width: 4rem;
}
.navigation__bar:hover{
	background-color: #FFFFFF;
	transition: all 0.4s ease;
}
/* ---------- INPUTS ---------- */
input[name="control"]{
	position: absolute;
	visibility: hidden;
}
/* ----------  ---------- */
.banner__slideText{
	width: 20%;
	transition: 0.5s;
}
.banner__slideText--box{
	/* padding: 1rem 0; */
	height: 100%;
	width: 100%;
}
/* ---------- TEXT ---------- */
.slideText__hgroup--h3{
	font-size: 3rem;
	/* font-weight: bold; */
	letter-spacing: 0.2rem;
	padding: 1rem 0;
	/* text-transform: capitalize; */
}
.slideText__hgroup--h6{
	font-size: 1.8rem;
	font-weight: normal;
}
.banner__slideText--p{
	font-size: 1.4rem;
	padding: .5rem 0;
	letter-spacing: 0.1rem;
}
/* ---------- BUTTON ---------- */
.banner__slideText--button{
	background-color: #3369E7;
	color: #FFFFFF;
	/* cursor: pointer; */
	margin-top: 1.5rem;
	padding: 1.2rem 3rem;
	text-transform: capitalize;
	width: 45%;	
}
/* ---------- TRANSITION - NAVIGATION ---------- */
#control1:checked ~ .slide1{
	margin-left: 0;
	transition: all 0.5s ease-in-out;
}
#control2:checked ~ .slide1{
	margin-left: -20%;
	transition: all 0.5s ease-in-out;
}
#control3:checked ~ .slide1{
	margin-left: -40%;
	transition: all 0.5s ease-in-out;
}
#control4:checked ~ .slide1{
	margin-left: -60%;
	transition: all 0.5s ease-in-out;
}
/* ---------- COL FORM ---------- */
.bannerForm{
	padding: 2rem 0;
}
.bannerForm__h3{
	font-size: 2rem;
	font-weight: 300;
}
/* .bannerForm__form{} */
.bannerForm__form,
.bannerForm__input,
.bannerForm__select,
.bannerForm__btn{
	background-color: #F1F1F1;
	border: none;
	color: #353535;
	font-size: 1.4rem;
	letter-spacing: .1rem;
	line-height: 1.5; /* My */
	margin-bottom: 1.5rem;
	outline: none;
	padding: 1.5rem 2.0rem;
	/* width: 100%; */
}
.bannerForm__form .bannerForm__btn{
	background-color: #3369E7;
	border: none;
	/* border-radius: 1.5rem; */
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1.5rem;
	letter-spacing: .1rem;
	outline: none;
	padding: 1.4rem 0;
	transition: 0.5s all;
	width: 100%;
}
.bannerForm__form .bannerForm__btn:hover{
	background-color: #5d5e9b;
	font-weight: bold;
	/* color: #3369E7; */
}
.bannerForm__form .bannerForm__spanTerms{
	display: block;
	font-size: 1.2rem;
	line-height: normal;
}
/* .bannerForm__form .bannerForm__spanTerms .bannerForm__linkTerms{
	color: #3369E7;
} */
.bannerForm__form span a{
	color: #3369E7;
}



/* ----------  ---------- */
/* ----------  ---------- */
/* ----------  ---------- */
/*=====================================================
    MEDIAQUERIES
=====================================================*/
/* -------------------- */
/* ----------  ---------- */
/* @media screen and (min-width: 320px){} */
/* @media screen and (min-width: 480px){} */
/* @media screen and (min-width: 768px){} */
/* @media screen and (min-width: 1024px){} */
/* @media screen and (min-width: 1200px){} */